.entry {
	background: #F8F8F8;
	position: relative;
	z-index: 30;
	top: -3em;
	box-shadow: 0 0 1em 0 rgba(0,0,0,0.1);
	margin-bottom: 3em;

	@include bp(mobile) {
		padding-bottom: 0.1em;
	}

	@include bp(desktop) {
		display: flex;
		height: 30em;
	}
}

.entry-media {
	position: relative;
	overflow: hidden;
	
	@include bp(desktop) {
		flex: 0 0 50%;
	}
}


.entry-media:before {
	display: block;
	content: '';
	padding-top: 80%;
}

.entry-media img {
	display: block;
	width: auto;
	height: 100%;
	position: absolute;
	top: 50%; left: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%);
	transition: transform 0.3s ease-in-out;
}

.entry-media:hover img {
	transform: translate(-50%, -50%) scale(1.2);
}

.entry-content {
	background: #FFF;
	position: relative;
	z-index: 20;
	box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.7);
	padding: 2em;
	
	@include bp(desktop) {
		flex-grow: 1;
		margin: 2em 2em 2em -2em;
	}
}

.entry-title {
	padding-bottom: 0.5rem;
	color: rgb(88, 50, 85);
	font-weight: 500;
	font-size: 3em;
}

.entry-title a {
	color: rgb(53, 20, 48);
}

.entry-meta {
	margin: 1.5em 1em 1.5em 1em;
	color: rgb(142, 123, 157);
}

.entry:nth-child(even) .entry-media {
	order: 2;
}

.entry:nth-child(even) .entry-content {
	@include bp(desktop){
		margin: 3em -3em 3em 3em;
	}
}

.entry-content,
.entry:nth-child(even) .entry-content {
	@include bp(mobile){
		margin: -2em 2em 2em 2em;
	}
}
	