.our-contacts {
    justify-items: center;
    display: block;
    margin: 0 auto;
    .about {
        justify-self: center;
        text-align: center;
        font-size: 24px;
    }
}

input {
    border-radius: 1em;
    padding: 0.2em 0 0.2em 0.4em;
}
.contacts-us {
    max-width: 50rem;
    height: 100%;
    margin: 0 auto;
	position: relative;
	z-index: 30;
	background: #FFF;
	box-shadow: 0 0 1em 0 rgba(black, 0.5);
    margin-top: -5em;
    padding-bottom: 2em;
	h1 {
		text-align: center;
		padding: 0.5em 0 0.5em 0;
	}
}

.about,
form {
    @include bp(phone) {
        margin: 0 auto;
        font-size: 16px;
    }
}

fieldset {
    background-image: url(https://images.unsplash.com/photo-1498842812179-c81beecf902c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border: 2px solid rgb(204, 162, 196);
    box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.2);
    border-radius: 5em;
    margin: 2em;
    padding: 2em;
    
    legend {
        padding: 0 1em;
        font-weight: bold;
        font-size: 1.4em;
    }
}

.field {
    display: flex;
    flex-direction: column;
}

