.entry-products {
	max-width: 50rem;
	margin: 0 auto;
    height: 100%;
	position: relative;
	z-index: 30;
	top: -5em;
}

.products-content {
	margin: 0 auto;
}

.products-title {
	text-align: center;
}

.products-title-list {
	font-size: 1.2em;
}

.description {
	margin-bottom: 4em;
}

.buy-products {
	display: flex;
	flex: 0 0 20%;
	justify-content: center;

	img {
		max-width: 9em;
		height: auto;
		transition: transform 0.3s ease-out;
		margin-bottom: 1.5em;
	}

	img:hover {
		transform: scale(1.3);

		@include bp(phone) {
			transform: scale(1.2);
		}
	}

	@include bp(mobile) {
		display: block;	
	}
}

.list {
	text-align: center;
	margin: 1em;
}

.button,
.list button {
	font-size: 1em;
	border-radius: 2em;
	padding: 0.5em;
	background: rgb(204, 162, 196);
	color:  #FFF;
	text-decoration: none;
	margin-bottom: 2em;
    transition: 1s ease;
    position: relative;
    overflow: hidden;
	z-index: 1;
	
	&:hover {
		background: #FFF;
		color:	rgb(204, 162, 196);
		transition: 0.5s ease-in;
	}
}

.place {
	font-style: italic;
	font-size: 14px;
}

.price {
	font-size: 24px;
}

.woman,
.woman-2 {
	height: auto;
	transition: transform 0.4s ease-out;
	box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.7);

	@include bp(desktop) {
		max-width: 20rem;

		&:hover {
			transform: scale(1.6);
		}
	}
	@include bp(mobile) {
		max-width: 15rem;
		margin: 1em;

		&:hover {
			transform: scale(1.2);
		}
	}
	@include bp(phone) {
		display: block;
		margin: 0 auto;
		margin-bottom: 1em;
	}
}

.woman { 
	@include bp(desktop) {
		float: left;
		margin: 1em 2em 2em 0;
	}
}

.woman-2 {
	@include bp(desktop) {
		float: right;
		margin: 1 0 2em 2em;
	}
}

.about-video {
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.7);

	@include bp(desktop) {
		margin-top: 1em;
		margin-bottom: 2em;
	}
	@include bp(mobile) {
		max-width: 90%;
		height: auto;
		margin-bottom: 1em;
	}
}

.about-image {
	width: 100%;
	height: auto;
}

.image-title {
	position: absolute;
	transition: transform 1s ease-in;

	@include bp(desktop) {
		bottom: 10em;
		left: 10em;

		&:hover {
			color:	rgb(204, 162, 196);
			transform: scale(1.3);
		}
	}

	@include bp(mobile) {
		bottom: 8em;
		left: 5em;
		font-size: 1.2em;
		&:hover {
			color:	rgb(204, 162, 196);
			transform: scale(1.1);
		}
	}
}
