.entry-products {
    max-width: 50rem;
    height: 100%;
    margin: 0 auto;
	position: relative;
	z-index: 30;
	top: -5em;
}

.products-content {
	background: #FFF;
	position: relative;
	z-index: 20;
	box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.7);
	padding: 2em 4em 4em 3em;
	
	@include bp(desktop) {
		// margin: 2em 2em 2em -2em;

	}
}
.description {
	margin-bottom: 4em;
}

.buy-products {
	display: flex;
	flex: 0 0 20%;
	justify-content: center;
	img {
		max-width: 10em;
		height: auto;
		transition: transform 0.5s ease-out;
		margin-bottom: 1.5em;
	}
	img:hover {
		transform: scale(1.3);
	}
	@include bp(mobile) {
		display: block;	
	}
}

.list {
	text-align: center;
	margin: 1em;
}

.button,
.list button {
	font-size: 16px;
	border-radius: 1.5em;
	padding: 0.5em;
	background: rgb(204, 162, 196);
	color:  #FFF;
	text-decoration: none;
	margin-bottom: 2em;
    transition: 1s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
	&:hover {
		background: #FFF;
		color:	rgb(204, 162, 196);
		transition: 0.5s ease-in;
	}
}
.products-title {
	text-align: center;
}

.place {
	font-style: italic;
	font-size: 14px;
}
.price {
	font-size: 24px;
}

.woman,
.woman-2 {
	max-width: 20em;
	height: auto;
	transition: transform 0.5s ease-out;
	box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.7);
}

.woman {
	float: left;
	margin: 2em 2em 2em 0;
}

.woman-2 {
	float: right;
	margin: 2em 0 2em 2em;
}

.woman:hover,
.woman-2:hover {
	transform: scale(2);
}