.site-header {
	position: relative;

	.site-wrapper {
		padding-top: 2rem;
		padding-bottom: 2rem;
		

		@include bp(desktop) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.site-branding p {
				margin-right: 3em;
			}
		}	
	}
}


.site-media .site-wrapper {
	width: 100%;
	position: relative;
	z-index: 10;
	font-size: 1.6rem;
	color: rgb(88, 50, 85);
	text-shadow: 1px 1px white;
	font-weight: 400;
	padding-top: 1em;
}

.site-media {
	width: 100%;;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 1em 0 rgba(0,0,0,0.5);

	@include bp(desktop) {
		min-height: 60vh;
	}
	
	@include bp(mobile) {
		min-height: 50vh;
	}

	@include bp(phone) {
		min-height: 40vh;
	}
}

.site-media:before {
	display: block;
	content: '';
	position: absolute;
	background: rgba(179, 173, 190, 0.3);
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
}

.site-branding a {
	@include bp(mobile) {
		font-size: 46px;
	}

	@include bp(phone) {
		font-size: 42px;
	}
}

