.site-footer {
	position: relative;
	background-color: rgba(204, 162, 196, 0.7);
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 1em 0 rgba(0,0,0,0.5);
}

.site-footer .site-wrapper {
	padding: 1em 0;
	font-size: 1.2em;
	text-align: center;
}

.site-footer .social a {
	background: rgba(0,0,0,0.3);
	color: #FFF;
}

.site-footer .site-wrapper p {
	font-size: 18px;
	@include bp(phone) {
		padding: 1em;
	}
}
.site-footer .site-wrapper p,
.site-footer .site-wrapper h3 {
	opacity: 0.4;
	transition: opacity 0.3s ease-in;
}

.site-footer:hover .site-wrapper p {
	opacity: 0.8;
}

.site-footer .site-wrapper p:first-child {
	font-size: 1.2em;
}

.site-footer:hover .site-wrapper p,
.site-footer:hover .site-wrapper h3 {
	opacity: 0.8;
}


.social {
	display: flex;
	justify-content: center;
	
	li {
		display: block;
		list-style: none outside;
		a {
			display: flex;
			justify-content: center;
			margin: 0 0.5em 0 0.5em;
			align-items: center;
			border-radius: 50%;
			background: rgba(255,255,255,0.5);
			width: 2.8em;
			height: 2.8em;
			line-height: 1;
			transition: background 0.2s ease-in;
			box-shadow: 0 0 1em 0 rgba(245,245,245,0.5);
		}
	}
}

.social a:hover {
	background: rgba(204, 162, 196, 0.9);
}
