@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

html {
	font-family: 'Crimson Text', serif;
	color: rgb(88, 50, 85);

	@include bp(desktop) {
		font-size: 18px;
	}
}
	@include bp(mobile) {
		font-size: 14px;
	}

	@include bp(phone) {
		font-size: 12px;
	}


body, button, input, select, option {
	font: inherit;
}

body {
	font-size: 20px;
}

a {
	text-decoration: none;
	color: rgb(204, 162, 196);
}

a:hover {
	animation: 1s ease;
	color: rgb(88, 50, 85);
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Parisienne', cursive;
	line-height: 1.2;
	padding-bottom: 0.5em;
	font-weight: 500;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

p {
	padding-bottom: 1em;
}
