<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href=" {{ site.baseurl }}">
</head>
<body>
    <div class="site">
        <header class="site-header">
            <div class="site-branding">
                <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
                <p> {{ site.description }}</p>
                <img src="/images/eyeshadow.jpg" alt="">
            </div>

            <nav class="nav">
                <ul>
                {% for page in site.pages %}
                    {% if page.title %}
                    <li class="page-title-{{ page.title | slugify }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>
        </header>
        <section class="site-wrapper">
            <img src="/images/eyeshadow.jpg" alt="">

        </section>
        <main class="site-main">
            {{ content }}

        </main>
        <footer class="site-footer">
            <p>{{ site.title }} &copy; All rights reserved</p>

        </footer>
    </div>
    
</body>
</html>